<div class="container">
  <div class="top-bar">
    <!-- Logo -->
    <a href="./" class="logo"> Pursuit </a>

    <!-- Actions -->
    <div class="top-act">
      <div class="search">
        <input
          type="text"
          name=""
          id=""
          placeholder="Search for anything"
          class="search-input"
        />
        <button class="search-btn">
          <img
            src="./assets/icons/search.svg"
            alt="Search"
            class="search-input__icon"
          />
        </button>
      </div>

      <div class="top-act__group">
        <div class="top-act__btn">
          <img src="./assets/icons/heart.svg" alt="" class="top-act__icon" />
          <span class="top-act__title">(0)</span>
        </div>

        <div class="top-act__btn">
          <img src="./assets/icons/buy.svg" alt="" class="top-act__icon" />
          <span class="top-act__title">(0)</span>
        </div>

        <div class="top-act__user">
          <img src="./assets/icons/user.svg" alt="" class="top-act__avatar" />
        </div>
      </div>
    </div>
  </div>
  <!-- Navbar -->
  <nav class="navbar">
    <ul class="navbar__list">
      <li>
        <a href="" class="navbar__link"
          >Home
          <img
            src="./assets/icons/arrow-down.svg"
            alt=""
            class="navbar__arrow icon"
          />
        </a>
      </li>
      <li>
        <a href="" class="navbar__link"
          >Category
          <img
            src="./assets/icons/arrow-down.svg"
            alt=""
            class="navbar__arrow icon"
          />
        </a>
      </li>
      <li>
        <a href="" class="navbar__link"
          >Brand
          <img
            src="./assets/icons/arrow-down.svg"
            alt=""
            class="navbar__arrow icon"
          />
        </a>
      </li>
      <li>
        <a href="" class="navbar__link"
          >Products
          <img
            src="./assets/icons/arrow-down.svg"
            alt=""
            class="navbar__arrow icon"
          />
        </a>
      </li>
      <li>
        <a href="" class="navbar__link"
          >About
          <img
            src="./assets/icons/arrow-down.svg"
            alt=""
            class="navbar__arrow icon"
          />
        </a>
      </li>
      <li>
        <a href="" class="navbar__link">Shop </a>
      </li>
      <li>
        <a href="" class="navbar__link"
          >Pages
          <img
            src="./assets/icons/arrow-down.svg"
            alt=""
            class="navbar__arrow icon"
          />
        </a>
      </li>
    </ul>
  </nav>
</div>
