html.dark {
  --text-color: #131717;
  --icon-color: brightness(0) saturate(100%) invert(97%) sepia(93%)
    saturate(3738%) hue-rotate(318deg) brightness(103%) contrast(103%);

  --header-bg-color: #171C28;

  --search-bg-color: #fff;
  --search-btn-bg: #ffd44d;
  --input-placeholder: #757575;
}
